/* Flipcards Grid */
.flipcard-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 32px;
  max-width: 960px;
}
.flipcards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  padding: 42px;
}

/* Flip card base */
.flip-card {
  background-color: transparent;
  width: 303px;
  height: 320px;
  perspective: 1000px;
  border-radius: 24px;
  padding: 42px;
  box-sizing: border-box;
  position: relative;
}

/* Inner container for flip effect */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  border-radius: 24px;
}

/* Flip action */
.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

/* Common side styles */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #e1e8a5;
  border-radius: 24px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  color: #144633;
  font-family: 'Roboto Flex', sans-serif;
  padding: 42px;
  max-width: 387px;
}
/* Front card */
.flip-card-front {
  z-index: 2;
  transform: rotateY(0deg);

}

/* Back card */
.flip-card-back {
  transform: rotateY(180deg);
  position: absolute;
  
}

/* Icon */
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.icon picture img {
  width: 75px;
  height: 126px;
  object-fit: contain;
}

/* Text */
.text strong {
  font-size: 1.25rem;
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
  font-family: 'HelveticaNeueW01-75Bold', sans-serif;
}

.text p {
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 1rem;
}

.text h3 {
  font-size: 1.125rem;
  font-family: 'HelveticaNeueW01-55Roma', sans-serif;
  font-weight: 400;
  line-height: 1.22;
  margin-bottom: 0.25rem;
  color: #144633;
}

/* Trigger */
.flip-trigger {
  font-size: 0.875rem;
  cursor: pointer;
  color: #144633;
  text-decoration: underline;
  display: inline-block;
}
